# Default ignored files
/shelf/
/workspace.xml
out
_01_Java_Notes/_01_Java_Notes.iml
_02_Java_Important_Examples/_02_Java_Important_Examples.iml
_03_Java_DSA/_03_Java_DSA.iml
Java_DSA_Programming_Files.iml
.idea/

